//.diagram {}
.techbox {
    position:relative;
    &:after {
        content:"";
        display: block;
        position: absolute;
        top:0;
        left:50%;
        width:1px;
        height:100%;
        background:rgba(255,255,255,0.4);
    }
    &:first-child{
        &:after {
            top:70%;
            height:30%;
        }
    }
    &--bottompad {
        padding-bottom:80px;
    }
    &__description {
        &--centered {
            p {
                text-align: center;
            }
        }
    }
    &__title {
            text-align: center;
        h4 {
            display: inline-block;
            width: 200px;
            margin: 0 auto 20px;
            padding: 10px 12px;
            border-radius: 4px;
            border: 1px solid rgba(255,255,255,0.4);
            font-family: $font-primary;
            font-size: 1.4rem;
            font-weight: 300;
            text-align: center;
        }
    }
    &__third {
        float:left;
        width: 33%;
    }
    &__half {
        float:left;
        width: 45%;
        margin-right:5%;
        &--last {
            margin-right: 0%;
            margin-left: 5%;
        }
    }
    &__icons {
        background-size: 100% auto;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
    }
    &__node {
        background-image: url(../media/icons/nodejs-icon-white.svg);
    }
    &__twitter {
        background-image: url(../media/icons/twitter-icon-white.svg);
    }
}