/* _nav.scss */

.head-nav {
    position:absolute;
    z-index:200;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: -webkit-transform .5s .5s,background .5s;
    -moz-transition: -moz-transform .5s .5s,background .5s;
    -o-transition: -o-transform .5s .5s,background .5s;
    transition: transform .5s .5s,background .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    &.detached {
        position: fixed;
        background: rgba(0,0,0,0.6);
        -webkit-transition: -webkit-transform .3s,background .1s;
        -moz-transition: -moz-transform .3s,background .1s;
        -o-transition: -o-transform .3s,background .1s;
        transition: transform .3s,background .1s;
    }

    &.hidden {
        opacity: 0;
        -webkit-transform: translate(0,-60px);
        -moz-transform: translate(0,-60px);
        -ms-transform: translate(0,-60px);
        -o-transform: translate(0,-60px);
        transform: translate(0,-60px);
        -webkit-transition: -webkit-transform .2s,background .3s,color .3s,opacity .3s;
        -moz-transition: -moz-transform .2s,background .3s,color .3s,opacity .3s;
        -o-transition: -o-transform .2s,background .3s,color .3s,opacity .3s;
        transition: transform .2s,background .3s,color .3s,opacity .3s;
    }
    &.visible {
        opacity: 1;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
        -webkit-transition: -webkit-transform .2s,background .3s;
        -moz-transition: -moz-transform .2s,background .3s;
        -o-transition: -o-transform .2s,background .3s;
        transition: transform .2s,background .3s;
    }
    &__nav {
        @include outer-container;
        padding:0 20px;
        @include x-rem(font-size, 1.25);
        vertical-align: top;
        line-height:45px;
        &, a {
           font-weight:300;
        }
        @include media ($mobile-wide) {
            line-height:39px;
        }
    }


    &__logo {
        float:left;
    }

    &__menu {
        position:relative;
        float:right;
    }

    &__menu label {
        cursor:pointer;
        display:block;
        width:100%;
        margin-left:15px;
        margin-right:15px;
    }
    &__menu-toggle {
        display: none;
        @include media ($mobile-wide) {
            @include x-rem(font-size, 1.2);
        }
    }
    &__menu-list {
        position:absolute;
        list-style:none;
        margin:0;
        top:45px;
        max-height: 0;
        right:0;
        overflow: hidden;
        transition: max-height .2s linear;
        background: #000;
        @include x-rem(font-size, 1);
        @include media ($mobile-wide) {
            top:41px;
        }
        a {
            white-space: nowrap;
            display: block;
            text-decoration: none;
        }
        li {
            min-width:140px;
            padding: 0 15px;
            background:none;
            transition:background 0.2s linear;
            &:hover {
                background:none;
            }
            @include media ($mobile-wide) {
                @include x-rem(font-size, 1.2);
            }
        }
    }

    &__menu-toggle:checked + &__menu-list {
        display: block;
        max-height: 300px;
    }
    &__menu-icon {
        font-family: Helvetica, Arial, sans-serif;
        @include x-rem(font-size, 2);
        line-height:45px;
        vertical-align: middle;
        display:inline-block;
        margin-top: -2px;
        position:relative;
        right:auto;
    }

}
.head-nav.dark {
    background: #000;
    overflow:visible;
}

html.no-touch {
    .head-nav:hover {
        background: #000;
    }

}

