/* _nav.scss */

$headNav: '.head-nav';

$headNav-bgcolor-transparent:         (0, 0, 0, 0.6);
$headNav-bgcolor-solid:               #000;

$headNav-height-full:                 45px;
$headNav-height-compressed:           39px;


#{$headNav} {
    position:absolute;
    z-index:200;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: -webkit-transform .5s .5s,background .5s;
    -moz-transition: -moz-transform .5s .5s,background .5s;
    -o-transition: -o-transform .5s .5s,background .5s;
    transition: transform .5s .5s,background .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    &.detached {
        position: fixed;
        @include x-rgba-l (background, $headNav-bgcolor-transparent);
        -webkit-transition: -webkit-transform .3s,background .3s;
        -moz-transition: -moz-transform .3s,background .3s;
        -o-transition: -o-transform .3s,background .3s;
        transition: transform .3s,background .3s;
    }

    &.hidden {
        opacity: 0;
        -webkit-transform: translate(0,-60px);
        -moz-transform: translate(0,-60px);
        -ms-transform: translate(0,-60px);
        -o-transform: translate(0,-60px);
        transform: translate(0,-60px);
        -webkit-transition: -webkit-transform .3s,background .3s,color .3s,opacity .3s;
        -moz-transition: -moz-transform .3s,background .3s,color .3s,opacity .3s;
        -o-transition: -o-transform .3s,background .3s,color .3s,opacity .3s;
        transition: transform .3s,background .3s,color .3s,opacity .3s;
    }
    &.visible {
        opacity: 1;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
        -webkit-transition: -webkit-transform .3s,background .3s;
        -moz-transition: -moz-transform .3s,background .3s;
        -o-transition: -o-transform .3s,background .3s;
        transition: transform .3s,background .3s;
    }
    &__nav {
        @include outer-container;
        padding:0 20px;
        @include x-rem(font-size, 1.25);
        vertical-align: top;
        line-height: $headNav-height-full;
        &, a {
           font-weight:300;
        }
        @include media ($mobile-wide) {
            line-height:$headNav-height-compressed;
        }
    }


    &__logo {
        float:left;
    }

    &__menu {
        position:relative;
        float:right;
    }

    &__menu label {
        cursor:pointer;
        display:block;
        width:100%;
        margin-left:15px;
        margin-right:15px;
    }
    &__menu-toggle {
        display: none;
        @include media ($mobile-wide) {
            @include x-rem(font-size, 1.2);
        }
    }
    &__menu-list {
        position:absolute;
        list-style:none;
        margin:0;
        top: $headNav-height-full;
        max-height: 0;
        right:0;
        overflow: hidden;
        transition: max-height .2s linear;
        background: $headNav-bgcolor-solid;
        @include x-rem (font-size, 1);
        @include media ($mobile-wide) {
            top: $headNav-height-compressed + 2px;
        }
        a {
            white-space: nowrap;
            display: block;
            text-decoration: none;
        }
        li {
            min-width:140px;
            padding: 0 15px;
            transition:background 0.2s linear;
            &:hover {
                background:none;
            }
            @include media ($mobile-wide) {
                @include x-rem(font-size, 1.2);
            }
        }
    }

    &__menu-toggle:checked + &__menu-list {
        display: block;
        max-height: 300px;
    }
    &__menu-icon {
        font-family: Helvetica, Arial, sans-serif;
        @include x-rem(font-size, 2);
        line-height: $headNav-height-full;
        vertical-align: middle;
        display:inline-block;
        margin-top: -2px;
        position:relative;
        right:auto;
    }

    &__cta-arrow {
        .main-header {
          background: url(logo.svg) no-repeat top center;
       }
        .no-svg .main-header {
          background-image: url(logo.png);
        }
    }
}



#{$headNav}.dark {
    background: $headNav-bgcolor-solid;
    overflow:visible;
}

.ie6,
.ie7,
.ie8,
.no-js {
    #{$headNav} {
        -webkit-transition: -webkit-transform .3s .3s,background .3s;
        -moz-transition: -moz-transform .3s .3s,background .3s;
        -o-transition: -o-transform .3s .3s,background .3s;
        transition: transform .3s .3s,background .3s;
        @include x-rgba-l (background, $headNav-bgcolor-transparent);
        &__menu-list {
            @include x-rgba-l (background, $headNav-bgcolor-transparent);
        }
        &:hover {
            background: $headNav-bgcolor-solid;
            #{$headNav}__menu-list {
                background: $headNav-bgcolor-solid;
                display: block;
                max-height: 300px;
            }
        }
        &__menu-toggle:not(:checked) + &__menu-list,
        &__menu-toggle:checked + &__menu-list {
            display: block;
            max-height: 300px;
        }
    }
}

.no-touch {
    #{$headNav}:hover {
        background: $headNav-bgcolor-solid;
    }
}
