/* _nav.scss */

.head-nav {
    position:fixed;
    z-index:200;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: -webkit-transform .5s .5s,background .5s;
    -moz-transition: -moz-transform .5s .5s,background .5s;
    -o-transition: -o-transform .5s .5s,background .5s;
    transition: transform .5s .5s,background .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    &.detached {
        position: fixed;
        background: #000;
        background: rgba(0,0,0,0.9);
        -webkit-transition: -webkit-transform .3s,background .1s;
        -moz-transition: -moz-transform .3s,background .1s;
        -o-transition: -o-transform .3s,background .1s;
        transition: transform .3s,background .1s;
    }

    &.hidden {
        opacity: 0;
        -webkit-transform: translate(0,-60px);
        -moz-transform: translate(0,-60px);
        -ms-transform: translate(0,-60px);
        -o-transform: translate(0,-60px);
        transform: translate(0,-60px);
        -webkit-transition: -webkit-transform .2s,background .3s,color .3s,opacity .3s;
        -moz-transition: -moz-transform .2s,background .3s,color .3s,opacity .3s;
        -o-transition: -o-transform .2s,background .3s,color .3s,opacity .3s;
        transition: transform .2s,background .3s,color .3s,opacity .3s;
    }
    &.visible {
        opacity: 1;
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        transform: translate(0,0);
        -webkit-transition: -webkit-transform .2s,background .3s;
        -moz-transition: -moz-transform .2s,background .3s;
        -o-transition: -o-transform .2s,background .3s;
        transition: transform .2s,background .3s;
    }

    &__nav {
        @include outer-container;
        padding:0 20px;
        @include x-rem(font-size, 1.25);
        vertical-align: top;
        line-height:45px;
        &, a {
           font-weight:300;
        }
        @include media ($tablet) {
            line-height:39px;
        }
    }


    &__logo {
        float:left;
    }

    &__menu {
        position:relative;
        float:right;
    }

    &__menu label {
        cursor:pointer;
    }
    &__menu-toggle {
        display: none;
    }
    &__menu-list {
        position:fixed;
        top:45px;
        left:0px;
        right:0px;
        width:200px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s linear;

        background:#000;
        li {
            border-bottom:#333 1px solid;
        }
        @include media ($tablet) {
            top:39px;
            right:-20px;
            left:-20px;
            li {
                line-height:39px;
                height:39px;
            }
        }
    }
    &__menu-toggle:checked + &__menu-list {
        display: block;
        max-height: 300px;
    }
    &__menu-icon {
        font-family: Helvetica, Arial, sans-serif;
        @include x-rem(font-size, 2);
        line-height: 1;
        vertical-align: middle;
        display:inline-block;
        margin-top: -2px;
    }

}

html.touch {
     .head-nav {
        background: rgba(0,0,0,1);
    }
}
html.no-touch {
    .head-nav:not(.detached):hover {
        background: rgba(0,0,0,1);
    }
}

