@charset "UTF-8";
/* _slides.scss */

@mixin slide {
    width:100%;
    min-height: 100%;
    min-height: 100vh;
    position:relative;
    z-index:100;
}

@mixin fixedslide {
    background-attachment: fixed;
    background-size: cover;
    overflow:hidden;
}

.slide {
    @include slide;
    &--title {
        @include fixedslide;
        .cta-scroll {
            position: absolute;
            top: 60%;
            left:0;
            right:0;
            z-index: 10;
            line-height: 1;
            @include x-rem(font-size, 1.1);
            margin-top: 80px;
            text-align: center;
            @include media($mobile) {
                margin-top: 20px;
            }
            @include media($mobile-wide-only) {
                margin-top: 40px;
            }
        }
        .tagline {
            position: absolute;
            top: 50%;
            right: 24px;
            left: 24px;
            z-index: 10;
            @include x-rem(font-size, 5);
            line-height: 1;
            text-align: center;
            color: $text-color-primary;
            text-shadow: 1px 1px 0 #000;
            font-weight: 400;

            @include media($mobile) {
                & {
                    width:100%;
                    @include x-rem(font-size, 2.5);
                    margin-top: -20px;
                    right:4px;
                    left:4px;
                }
            }
            @include media($mobile-wide-only) {
                & {
                    width:100%;
                    @include x-rem(font-size, 4);
                    margin-top: -20px;
                    right:4px;
                    left:4px;
                }
            }
        }
    }
    &--details {
        @include fixedslide;
        background: #111119;
    }
}

.ie6,
.ie7,
.ie8,
.no-js,
.no-video.no-flash,
.no-videojs,
.touch {
    .slide {
        &--details {
            background: #111;
        }
        &--home {
            @include srcset('../media/DSC_2710_', '.jpg');
        }
        &--how-it-works {
            @include srcset('../media/DSC_2756_', '.jpg');
            background-position: center center;
        }
        &--snake {
            @include srcset('../media/DSC_2725_', '.jpg');
            background-position: center center;
            @include media($mobile) {
                background-position: center 40%;
            }
        }
        &--tech {
            @include srcset('../media/DSC_2760_', '.jpg');
            background-position:center 60% ;
        }
    }
}
.touch {
    .slide {
        background-attachment: scroll;
    }
}