/* _slides.scss */

@mixin slide {
    width:100%;
    min-height: 100%;
    min-height: 100vh;
    position:relative;
    z-index:100;
}

@mixin fixedslide {
    background-attachment: fixed;
    background-size: cover;
    overflow:hidden;
}

.slide {
    @include slide;
    &--title {
        @include fixedslide;
        .tagline {
            position: absolute;
            top: 50%;
            right: 24px;
            left: 24px;
            z-index: 10;
            @include x-rem(font-size, 5);
            line-height: 1;
            text-align: center;
            color: #fefefe;
            text-shadow: 1px 1px 0 #000;
            margin-top: -40px;
            font-weight: 400;

            @include media($mobile) {
                & {
                    width:100%;
                    @include x-rem(font-size, 2.5);
                    margin-top: -20px;
                    right:4px;
                    left:4px;
                }
            }
            @include media($mobile-wide-only) {
                & {
                    width:100%;
                    @include x-rem(font-size, 4);
                    margin-top: -20px;
                    right:4px;
                    left:4px;
                }
            }
        }
    }
    &--details {
        @include fixedslide;
        background: #111;
        background: rgba(0,0,0,0.9);
    }
}

html.no-video.no-flash,
html.no-videojs,
html.touch {
    .slide {
        &--home {
            @include srcset('../media/DSC_2710_', '.jpg');
        }
        &--details {
            background: #111;
        }
    }
}

html.touch {
    .slide {
        background-attachment: scroll;
    }
}