@mixin slide {
    width:100%;
    height:100%;
    position:relative;
    z-index:100;
}

@mixin fixedslide {
    @include slide;
    background-attachment: fixed;
    background-size: cover;
    overflow:hidden;

    .tagline {
        position: absolute;
        top: 50%;
        right: 24px;
        left: 24px;
        z-index: 10;
        font-size: 5rem;
        line-height: 1;
        text-align: center;
        color: #fefefe;
        text-shadow: 1px 1px 0 #000;
        margin-top: -24px;
        font-weight: 400;
    }
}

#main section {
    &.home {
        @include fixedslide;
    }
    &.intro {
        @include fixedslide;
        background:#000;
    }
    &.how-it-works {
        @include fixedslide;
    }
}

.content {
    @include outer-container;
}