@import "_reset";

@import "bourbon";
@import "neat";

@import "_sly";

@import "_typo";
@import "_structure";

html, body{
    padding:0;
    margin:0;
    height: 100%;
}
body {
    min-height: 100%;
    margin:0;
    padding:0;
    background:#222;
}

div#main {
    position:relative;
    width:100%;
    min-height:100%;
    z-index:2;
}

#video-bg {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
}

.vjs-control-bar {
    display:none;
}