@charset "UTF-8";
@import "_reset";

@import "bourbon";
$max-width: 1140px;
@import "neat";

@import "_fonts";
@import "_vars";
@import "_typo";
@import "_nav";
@import "_slides";
@import "_diagram";

/* main.scss */

html, body{
    padding:0;
    margin:0;
    height: 100%;
}

body {
    min-height: 100%;
    margin:0;
    padding:0;
    background:#000;
}

div {
  @include clearfix;
}

.verticalSpacer {
    display: block;
    height: 40px;
}

.main {
    position:relative;
    width:100%;
    min-height:100%;
    z-index:2;
}

.video-bg {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
}

.vjs-control-bar {
    display:none;
}

.content {
    @include outer-container;
    &__main-title {
        @include x-rem(font-size, 4);
        @include x-rem(margin-top, 4);
        @include x-rem(margin-bottom, 4);
        text-align: center;
    }
    &__sub-title {
        @include x-rem(font-size, 3);
    }
    &__link {
        &--highlight {
            color:$text-color-highlight;
        }
    }
    &__text {
        max-width: 600px;
        margin: 15px auto 0;
        padding: 10px;
        &:last-child {
            margin: 15px auto;
        }
        p.no-margin-bottom {
            margin-bottom:25px;
        }
    }
    &__image {
        max-width: 1140px;
        margin: 0 auto;
        padding: 10px;
    }
}